<div class="product" data-product-id="<%= product.id %>">
  <h2><%= product.name %></h2>
  <%= image_tag(product.photo + "?#{rand(1000)}") %>
  <ul>
    <li><%= number_to_currency product.price %></li>
    <li><%= pluralize product.inventory, 'item' %> left!</li>
  </ul>
  <div class="buy">
    <% if product.inventory > 1 %>
      <%= link_to 'Buy 1', buy_product_path(product), remote: true, method: :post, class: 'btn' %>
    <% end %>
  </div>
</div>
